# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Test and coverage reports
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db